#showcase{
  min-height:500px;
  background:url('../images/jhenephoto6.jpg') no-repeat  0 -0.20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width:80%;
  margin:auto;
  overflow:hidden;
}

.container-a {
  width:40%;
  padding: 0 0 0 20px;
}

.container-b {
  width:80%;
  margin:auto;
  padding: 0 0 0 20px;
}

.container-c {
  width:80%;
  padding: 0 0 0 20px;
}

body {
  font:15px/1.5 Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

ul{
  margin:0;
  padding:0;
}

/* Header **/
header{
  width: auto;
  height: 55px;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.60);;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
  z-index: 10;
}

header a{
  color:#ffffff;
  text-decoration:none;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:middle;
  margin-top:15px;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
  }

  th {
    text-align: left;
  }

  h2{
    text-align: left;
    font-size:40px;
  }

  h3{
    text-align: left;
    font-size:30px;
  }

  h4{
    text-align: left;
    font-size:30px;
  }

  /* Boxes */
  #boxes{
    margin-top:5px;
  }

  #boxes .box{
    float:left;
    text-align: center;
    width:auto;
    padding:5px;
  }

.video {
  float:center;
  padding:0 20px 0 20px;
}
