#showcase{
  min-height:500px;
  background:url('../images/jhenephoto10.jpg') no-repeat  0 -10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font:15px/1.5 Tahoma, sans-serif;
  padding:0;
  margin: 0;
  background-color: #ffffff;
}

/* Global **/
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

/* Header **/
header{
  width: auto;
  height: 55px;
  padding: 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.60);;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
  z-index: 10;
}

header a{
  color:#ffffff;
  text-decoration:none;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:middle;
  margin-top:15px;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
  }

  /* Section D / Boxes */

  #section-a .box {
    padding: 2em;
    color: black;
  }

  #section-a .box:first-child {
    background: #01d86f;
  }

  #section-b .box {
    padding: 2em;
    background: #64a0a1;
  }

  #section-b .box:first-child {
    padding: 2em;
    color: black;
    background: white;
  }

  #section-c .box {
    padding: 2em;
    color: black;
  }

  #section-c .box:first-child {
    background: #8f9ea5;
  }

.grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }
