/* Core Styles**/
.about-banner{
  background: url('../images/jhenephoto2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font:15px/1.5 Tahoma, sans-serif;
  padding:0;
  margin: 0;
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%
  height: auto;
}

/* Global **/
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

/* Header **/
header{
  background: rgba(0, 0, 0, 0.68);
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
}

header a{
  color:#ffffff;
  text-decoration:none;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:mid;
  margin-top:10px;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
  }

nav{
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  z-index: 10;
  background-color: rgba(33, 33, 33, 0.2);
}
